ion-toolbar {
    background-color: rgb(8, 145, 209);
   
  }

  

 ion-item:hover {
      background-color: rgb(19, 19, 19);
      color: white;
      padding: 0px;
      margin: 0px;
  }


  ion-icon:hover {
     color: white;
  }
  

  