<ion-header>
  <ion-toolbar color="neon">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Welcome to Daniel Fanelli's Portolio App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
    <ion-card class="welcome-card">
     
      <ion-card-header>
        <ion-card-subtitle>Contact Daniel Fanelli</ion-card-subtitle>
        <ion-card-title>Contact: T: <a href="tel:1967429702">(916)742-9702</a>| E: <a href="mailto:daniel@danielfanelli.me">daniel@danielfanelli.me</a>

        </ion-card-title>
      </ion-card-header>
    </ion-card>
</ion-content>
